body
{
    background-color: rgb(45, 45, 45);
    color: rgb(95, 95, 255);
    color: aliceblue;
    font-family: 'Roboto Thin' ,sans-serif;
}

.button 
{
    width: 40%;
    font-size: 3rem;
    color: white;
    border: 0px solid red;
    background-color: black;
    padding: 7px;
    border-radius: 10px;
}

.button:hover
{
    background-color: orange;
    color: black;
}