body
{
    background-color: rgb(233, 233, 233);
    color: rgb(45,45,45);
    font-family: 'Roboto Thin' ,sans-serif;
    text-align: center;
}

.my-flex-container
{
    display: -webkit-flex; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.my-flex-container2
{
    display: -webkit-flex; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container2
{
    margin-top: 1vh;
}

.box
{
    background-color: white;
    width: 19.5vw;
    height: 48vh;
}
img
{
    width: 100%;
    height: 80%;
}
.head_name
{
    font-size: 1em;
    font-weight: bold;
}
.desc
{
    font-size: 1em;
}






